<div class="container">
    <div class="form-container">
      <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <h2>Entre na sua Conta</h2>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" formControlName="email" class="form-control" placeholder="Ex: pedrao@gmail.com"/>
          <div *ngIf="clientForm.get('email')?.invalid && clientForm.get('email')?.touched" class="text-danger">
            Insira um e-mail válido (Ex: usuário&#64;gmail.com).
          </div>
        </div>
                
        <div class="form-group">
          <label for="confirmarSenha">Confirme a senha:</label>
          <input
            type="password"
            id="confirmarSenha"
            formControlName="confirmarSenha"
            class="form-control"
            placeholder="**************" />
          <div *ngIf="clientForm.get('confirmarSenha')?.invalid 
              && clientForm.get('confirmarSenha')?.touched 
              && clientForm.get('confirmarSenha') !== clientForm.get('senha')" 
              class="text-danger">
              A senha é diferente da senha informada.
          </div>
        </div>
        
        <div class="btn-container">         
          <button class="btn" id="btn-entrar">
            <a href="/home">Entrar</a>
          </button>
        </div>
                
        <div class="label">
          <p>Não tem conta? <a href="/home" class="link-cadastrar">Cadastrar</a></p>        
        </div>
      
        <div class="google-container">

          <div class="google">
            <img src="/img/loginGoogle.png" alt="Faça login com Google"  class="google-icon">
            <p>Login com Google</p>
          </div>

        </div>
        
        
      



      
      </form>
    </div>
  
    <div class="alert-container">
      <div *ngIf="mensagem" class="alert alert-success mt-3">
        {{ mensagem }}
      </div>
    </div>
    
  </div>
  